header, footer{
  margin: 20px;
}

header {
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img#logo {
  width: 100px;
  height: 100px;
  padding: 0px 20px;
}

#reload {
  width: 20px;
  height: 20px;
}

#refresh {
  margin: 20px 20px;
  cursor: pointer;
  width: 200px;
  height: 60px;
  font-size: 20px;
  padding: 10px;
}

#forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  width: 100vw;
}

#drivers {
  width: 95vw;
}

#trips {
  width: 105vw;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  width: 100vw;
}

#email_button {
  background-color: whitesmoke;
  border: lightblue;
  font-size: 15px;
  margin: 20px 0px;
  padding: 10px;
  cursor: pointer;
}

#email_button a {
  text-decoration: none;
  color: black;
  margin: 10px;
}